

.footer {
    background: rgb( 1, 35, 66, 1);
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer div {
    max-width: 400px;
    margin: auto;
    color: #fff;
    font-size: 15px;
    display: flex;
}

.footer i {
    margin: 0 5px 0 10px;
    font-size: 20px;
    transition: all .5s ease;
}

.footer i:hover {
    transform: translateY(-1px) scale(1.1);
    transition: all .5s ease;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {

    .footer {
        width: 1050px;
    }

}