
.container {
    max-width: 1000px;
    margin: 90px auto 100px auto;
    display: grid;
    grid-template-columns: repeat( 1, minmax(200px, 1fr) );
    gap: 30px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat( 4, minmax(200px, 1fr) );
}

.more {
    font-size: 15px;
    color: rgba(77,67,74, 1);
    margin: 10px 0 0 0;
}

.input {
    width: 200px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 6px;
    outline: none;
    transition: all .5s ease;
}

.input:focus {
    width: 400px;
    border: 2px solid #2980b9;
    transition: all .5s ease;
}

@media screen and (max-width: 1000px) {

    .container {
        max-width: 800px;
    }
    
    .container2 {
        grid-template-columns: repeat( 3, minmax(200px, 1fr) );
        gap: 5px;
    }

}

.loading {
    margin: 100px auto;
    text-align: center;
    width: 80%;
}

@media screen and (max-width: 850px) {

    .container {
        width: 800px;
        margin-left: 150px;
    }

    .container2 {
        grid-template-columns: repeat( 3, minmax(200px, 1fr) );
    }

}

@media screen and (max-width: 720px) {

    .container {
        max-width: 700px;
        margin-left: 170px;
    }

    .container2 {
        grid-template-columns: repeat( 3, minmax(200px, 1fr) );
    }

    .input:focus {
        width: 300px;
        border: 2px solid #2980b9;
        transition: all .5s ease;
    }
}


@media screen and (max-width: 550px) {

    .container {
        max-width: 550px;
        margin-left: 220px;
    }

    .container2 {
        grid-template-columns: repeat( 2, minmax(100px, 1fr) );
    }

    .input:focus {
        width: 250px;
        border: 2px solid #2980b9;
        transition: all .5s ease;
    }

}

@media screen and (max-width: 450px) {

    .container {
        max-width: 200px;
        margin-left: 220px;
    }

    .container2 {
        grid-template-columns: repeat( 1, minmax(100px, 1fr) );
        gap: 20px;
    }

    .input:focus {
        width: 250px;
        border: 2px solid #2980b9;
        transition: all .5s ease;
    }

}