header {
    background: rgba( 0, 0, 0, .6);
    padding: 40px;
}

.content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 10px;
    transition: all .8s ease;
    margin: 72px auto 50px auto;
}

.content section {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-left: 20px; 
}

.content section p {
    color: #fff;
    margin: 5px 0;
}

.content section div {
    display: flex;
}

.content:hover {
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
    transition: all .5s ease;
}

.content section h2 {
    font-size: 40px;
    color: #fff;
    margin-right: 5px;
}

.content section span {
    color: rgba(193,200,196, .8);
    font-size: 30px;
    margin: auto 170px auto 0;
}

header section  {
    max-width: 960px;
    margin: auto;
    display: flex;
}

header img {
    width: 70px;
    height: auto;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1000px;
    margin: 20px auto 100px auto;
}

.container img {
      width: 150px;
      height: 200px;
      border-radius: 10px;
}

.container p {
    margin: 5px 0 18px 0;
}

.container div {
    transition: all .5s ease;
}

.container div:hover {
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
    transition: all .5s ease;
}

.h3 {
    width: 1000px;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
}

.back {
    color: #fff;
    font-size: 15px;
}

.counter {
    color: rgb(140,140,140);
    font: 15px;
}

@media screen and (max-width: 1015px) {

    .container {
        grid-template-columns: repeat(5, 1fr);
        max-width: 90vw;
    }

    .h3 {
        width: 90vw;
    }

    .content{
        max-width: 91vw;
    }

}

@media screen and (max-width: 850px) {

    .container {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width: 680px) {

    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 95vw;
    }

    .h3 {
        width: 95vw;
    }

    .content{
        max-width: 100%;
        
    }

    .content section {
        width: 100%;
    }

    .content section div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .content section span {
        margin: 3px 0;
    }

}

@media screen and (max-width: 490px) {

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 350px) {

    .container {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
    }

    .h3 {
        font-size: 20px;
    }

    .title {
        width: 150px;
    }

}

@media screen and (max-width: 310px) {

    .content{
        display: block;
    }
    
    .content img {
        width: 130px;
        margin: 0 0 0 50px;
    }
    
    .content section {
        width: 100%;
        padding: 0;
        margin: 5px 0;
    }

}

@media screen and (max-width: 190px) {


    .h3 {
        font-size: 20px;
    }

}

@media screen and (max-width: 205px) {

    .container img {
        width: 120px;
        height: auto;
        margin: 0;
    }

    .content img {
        margin: 0;
    }

}